<Settings Version="2.0">
  <DatabaseConfig index="0">
    <name>
    </name>
    <dbtype>MSSQL</dbtype>
    <ConnectionString>Data Source=LOCALHOST\SQLEXPRESS;Initial Catalog=hrone;User ID=sa;Password="rkXdpC/R4ZH3aAqikmzl1g=="</ConnectionString>
</DatabaseConfig>
  <ShutdownAfterUsed>false</ShutdownAfterUsed>
  <AllowMultiDB>false</AllowMultiDB>
  <SkipEncryptionToDB>true</SkipEncryptionToDB>
  <EncryptedURLQueryString>false</EncryptedURLQueryString>
  <UsePDFCreator>false</UsePDFCreator>
  <PDFCreatorPrinterNameOption>
  </PDFCreatorPrinterNameOption>
</Settings>