
DECLARE @DBVERSION as varchar(100);
set @DBVERSION = (Select ParameterValue from SystemParameter where ParameterCode='DBVERSION');

IF @DBVERSION='1.07.0203' 
BEGIN

	TRUNCATE TABLE BANKLIST

	INSERT INTO BankList
			   (BankCode
			   ,BankName)
		 VALUES
			   ('003','STANDARD CHARTERED BANK (HONG KONG) LIMITED')
	INSERT INTO BankList
			   (BankCode
			   ,BankName)
		 VALUES
			   ('004','THE HONGKONG AND SHANGHAI BANKING CORPORATION LIMITED')
	INSERT INTO BankList
			   (BankCode
			   ,BankName)
		 VALUES
			   ('005','CREDIT AGRICOLE CORPORATE AND INVESTMENT BANK (Previously known as CALYON)')


	CREATE TABLE PublicHoliday
	(
		PublicHolidayID int IDENTITY(1,1) NOT NULL,
		PublicHolidayDate datetime NULL,
		PublicHolidayDesc nvarchar(100) NULL,
		CONSTRAINT PK_PublicHoliday PRIMARY KEY CLUSTERED 
		(
			PublicHolidayID
		) 
	)
	
	Create Table WorkHourPattern
	(
		WorkHourPatternID int IDENTITY(1,1) NOT NULL,
		WorkHourPatternCode NVARCHAR(20) NULL,
		WorkHourPatternDesc NVARCHAR(100) NULL,
		WorkHourPatternWorkDayDetermineMethod NVARCHAR(10) NULL,
		WorkHourPatternSunDefaultRosterCodeID int NULL,
		WorkHourPatternSunDefaultDayUnit real NULL,
		WorkHourPatternMonDefaultRosterCodeID int NULL,
		WorkHourPatternMonDefaultDayUnit real NULL,
		WorkHourPatternTueDefaultRosterCodeID int NULL,
		WorkHourPatternTueDefaultDayUnit real NULL,
		WorkHourPatternWedDefaultRosterCodeID int NULL,
		WorkHourPatternWedDefaultDayUnit real NULL,
		WorkHourPatternThuDefaultRosterCodeID int NULL,
		WorkHourPatternThuDefaultDayUnit real NULL,
		WorkHourPatternFriDefaultRosterCodeID int NULL,
		WorkHourPatternFriDefaultDayUnit real NULL,
		WorkHourPatternSatDefaultRosterCodeID int NULL,
		WorkHourPatternSatDefaultDayUnit real NULL,
		WorkHourPatternUseStatutoryHolidayTable int NULL,
		WorkHourPatternUsePublicHolidayTable int NULL,
		WorkHourPatternStatutoryHolidayDefaultRosterCodeID int NULL,
		WorkHourPatternPublicHolidayDefaultRosterCodeID int NULL,
		CONSTRAINT PK_WorkHourPattern PRIMARY KEY CLUSTERED 
		(
			WorkHourPatternID
		) 
	)
	
	Alter Table EmpPositionInfo
		Add WorkHourPatternID int NULL
	
	UPDATE SystemFunction
		SET Description = 'Holiday Setup'
		WHERE FunctionCode='SYS006'
	
	UPDATE SystemFunction
		SET FunctionCode='SYS999'
		WHERE FunctionCode='SYS008'

	INSERT INTO SystemFunction
    (	FunctionCode
       ,Description
       ,FunctionCategory
       ,FunctionIsHidden)
     VALUES
           ('SYS009','Work Hour Pattern Setup', 'System', 0)

	-- Insert version of Database --
	Update SystemParameter 
	set ParameterValue='1.08.0207'
	where ParameterCode='DBVERSION';
	print ('Upgrade Successfully');

END
ELSE
print ('Incorrect Version: ' + @DBVERSION);





