
DECLARE @DBVERSION as varchar(100);
set @DBVERSION = (Select ParameterValue from SystemParameter where ParameterCode='DBVERSION');

IF @DBVERSION='1.12.0271' 
BEGIN

	ALTER TABLE CompensationLeaveEntitle
		ADD CompensationLeaveEntitleIsAutoGenerated INT NULL

	ALTER TABLE AttendancePlan
		ADD AttendancePlanOTGainAsCompensationLeaveEntitle INT NULL
	

	INSERT INTO SystemFunction
    (	FunctionCode
       ,Description
       ,FunctionCategory
       ,FunctionIsHidden)
     VALUES
           ('ATT015','Generate Compensation Leave Entitlement', 'Attendance', 0)

		
   	-- Insert version of Database --
	Update SystemParameter 
	set ParameterValue='1.12.0272'
	where ParameterCode='DBVERSION';
	print ('Upgrade Successfully');

END
ELSE
print ('Incorrect Version: ' + @DBVERSION);





