
DECLARE @DBVERSION as varchar(100);
set @DBVERSION = (Select ParameterValue from SystemParameter where ParameterCode='DBVERSION');

IF @DBVERSION='1.12.0272' 
BEGIN

	
	--	Added for 1.12.0280
	--	Fixed continuously generate record for function code generated by RPT211
	--	caused by fail to update database version number
	DELETE FROM SystemFunction
    WHERE FunctionCode ='RPT211'
    
	INSERT INTO SystemFunction
    (	FunctionCode
       ,Description
       ,FunctionCategory
       ,FunctionIsHidden)
     VALUES
           ('RPT211','Final Payment Statement', 'Payroll & MPF Reports', 0)

		
   	-- Insert version of Database --
	Update SystemParameter 
	set ParameterValue='1.12.0273'
	where ParameterCode='DBVERSION';
	print ('Upgrade Successfully');

END
ELSE
print ('Incorrect Version: ' + @DBVERSION);





