
DECLARE @DBVERSION as varchar(100);
set @DBVERSION = (Select ParameterValue from SystemParameter where ParameterCode='DBVERSION');

IF @DBVERSION='1.14.374' 
BEGIN

	ALTER TABLE AttendanceRecord ADD
		AttendanceRecordCalculateLunchOvertimeMins INT NULL,
		AttendanceRecordActualLunchOvertimeMins INT NULL

	ALTER TABLE AttendancePlan ADD
		AttendancePlanOTIncludeLunchOvertime INT NULL


   	-- Insert version of Database --
	Update SystemParameter 
	set ParameterValue='1.14.377'
	where ParameterCode='DBVERSION';
	print ('Upgrade Successfully');

END
ELSE
print ('Incorrect Version: ' + @DBVERSION);





